@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Edu+QLD+Beginner&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima&family=Cutive+Mono&family=Nunito&display=swap');

:root {
    --font-heading: "Arima", sans-serif;
    --font-text: "Nunito", sans-serif;
    --font-accent: "Cutive Mono", monospace;

    --clr-black: #333;
    --clr-white: #ccc;
    --clr-accent: #8b008b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--clr-black);
    color: var(--clr-white);
}

h1, h2, h3 {
    font-family: var(--font-heading);
}

p {
    font-family: var(--font-text);
}

a, li {
    font-family: var(--font-accent);
    color: var(--clr-white);
}

img {
    width: 100%;
    object-fit: contain;
    box-shadow: 2px 3px 4px #000;
}